<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Session Show Page</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/sessions/">Back to Community Sends</a>
            </li>
        </ul>
    </nav>
    <div class="session-display-container">
        <h1><%= session.name %></h1>
        <h3><%=session.boulderGrade%></h3>
        <% if (session.isSent){ %>
            <p><%=session.name %> sent this boulder!</p>
        <% } else { %>
            <p><%= session.name %> is projecting this boulder!</p>
            <% } %>
    </div>
    <div class="action-buttons">
        <form action="/sessions/<%=session._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
        <button type="submit">High Five!</button>
        <a href="/sessions/<%= session._id %>/edit">Edit <%= session.name %></a>
    </div>
</html>